<% provide(:title, "About") %>
<h2>アプリの概要</h2>
<ul class="list-group">
  <li class="list-group-item">このアプリはInstagramを参考に開発し、写真共有を通じて気になる人を探して人と繋がるSNSです。
                              SNSによくある機能を一通り網羅しました</li>
</ul>
<h2>アプリの機能一覧</h2>
<ul class="list-group">
  <li class="list-group-item">画像付き投稿機能（１投稿に複数画像対応、画像スライド、モーダル機能）</li>
  <li class="list-group-item">いいね機能（いいねした投稿を保存、投稿一覧、通知）</li>
  <li class="list-group-item">コメント機能（相手の投稿にコメント、通知）</li>
  <li class="list-group-item">フォロー機能（フォローしたユーザーの投稿をタイムラインに表示）</li>
  <li class="list-group-item">ハッシュタグ機能（正規表現でハッシュタグを自動生成）</li>
  <li class="list-group-item">ダイレクトメッセージ機能（既読機能)</li>
  <li class="list-group-item">足跡機能（相手のページに訪れたことを知らせる機能、オン・オフ可）</li>
  <li class="list-group-item">通知機能(いいね、コメント、DM、フォロー、足跡の通知、未読通知数を取得しヘッダーに表示)</li>
</ul>
<h2>使用した技術一覧</h2>
<ul class="list-group">
  <li class="list-group-item">統合テスト・単体テスト(RSpec, Factory_bot）</li>
  <li class="list-group-item">ページネーション機能(Kaminari)</li>
  <li class="list-group-item">レスポンシブデザイン対応(Bootstrap)</li>
  <li class="list-group-item">ユーザー管理機能(devise)</li>
  <li class="list-group-item">Facebookログイン機能(omniauth-facebook)</li>
  <li class="list-group-item">画像アップロード機能(carrier-wave, Amazon S3)</li>
  <li class="list-group-item">本番環境 AWS EC2(Nginx,Unicorn)</li>
  <li class="list-group-item">DB MySQL5.7</li>
  <li class="list-group-item">Amazon Route53</li>
  <li class="list-group-item">AWS Certificate Manager</li>
  <li class="list-group-item">Amazon CloudFront</li>
</ul>
<h4><%= link_to "Homeに戻る", root_path%></h4>
