<% provide(:title, 'followers') %>
<div class="container">
  <div class="btn-group d-flex" role="group">
    <%= link_to "following", following_user_path(params[:id]),class: "btn btn-dafault w-100" %>
    <%= link_to "followers", followers_user_path(params[:id]),class: "btn btn-primary w-100" %>
  </div>
  <%= render "user_index", users: @user.followers %>
</div>
