<% provide(:title, 'All users') %>
<div class="container">
  <div class="text-center">
    <%= form_tag(users_path, :method => 'get' ) do %>
      <%= text_field_tag :search %>
      <%= submit_tag 'ユーザー名検索', :user_name => nil %>
    <% end %>
  </div>
  <% @users.each do |user| %>
    <%= render user %>
  <% end %>
</div>
