<div class="posts">
  <% if posts.any? %>
    <% posts.each do |post|%>
      <div class="imageBox">
        <a data-toggle="modal" data-target="#photo-<%= post.id %>" class="modal-open">
          <%= image_tag post.photos.first.image.url(:medium), class: "card-img-top" %>
        </a>
        <%= render "partial/photo_modal", post: post %>
      </div>
    <% end %>
  <% end %>
</div>
